
//@import "node_modules/bootstrap/scss/bootstrap";
//@import "node_modules/mdbootstrap/scss/mdb";

$footer-height: 60px;

#gameBoard {
  padding-bottom: $footer-height;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: $footer-height;
  line-height: $footer-height;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 0 5px;
  //border-top: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 4px 3px rgba(0,0,0,0.3);
}

nav.fixed-bottom .row {
  width: 100%;
}

/*.avatar-border-heavy:after {
  content: '';
  box-shadow: 0px 0px 0px 2px #333;
}*/

.avatar-border {
  outline: 1px solid #000000;
}

#avatarSelect img {
  user-select: none;
}

#avatarSelect img:not(.selected) {
  filter: grayscale(70%);
}
#avatarSelect img.selected {
  filter: grayscale(0%);
}